html,
body {
  height: 100%;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F29526;
    border-radius: 5px;
  }
  

.h-80{
    height:80%;
}
::-webkit-scrollbar {
    width: 2px;
}

.mainview{
    border-radius: 10px;
}

.learntab {
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    height: 97%;
}

#article {
    padding-top: 2%;
    padding-left: 5%;
}

.subjectname {
    width:95%;
    padding-top: 10px;
    padding-left: 10px;
}

.loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.spinner-border{
    position: relative;
    left: 50%;
    top: 50%;
}

.smth{
    transition: background-color 0.2s;
    margin-top: 10px;
    background-color: white;
    height: 70px;
    border-radius: 5px;
}

#loadingArticle{
    display:none;
}

.smth:hover {
    transition: background-color 0.2s;
    background-color: #F29526;
    color: #ffffff;
}

.isCompleted{
    display: none; /* change to inline */
    color: #52b69a;
    position: relative;
    bottom: 20%;
    left: 10px;
}