html,
body {
  height: 100%;
  overflow-x: hidden;
  background-color: #E8E8E8;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #F29526;
    border-radius: 5px;
}

.h-80{
    height:80%;
}

.w-80{
    width: 80%;
}


.spinner-border{
    position: relative;
    left: 50%;
    top: 50%;
}


.profileCard{
    border-radius: 10px;
    padding-top: 4%;
    padding-left: 5%;    
    padding-right: 5%;
}


.btn-outline-warning{
    border-color: #F29526;
    color: #F29526;
}

.btn-outline-warning:hover{
    background-color: #F29526;
    color:white;
}

.shadow{
    box-shadow: 0 0 1rem rgba(0,0,0,.15)!important;
    background-color: white;
}

.profilePicture{
    object-fit: cover;
    border-radius: 50%;
    height:350px;
    width: 350px;
}

.form-group{
    padding-top: 5%;
    padding-bottom: 5%;
}

.form-control{
    margin-bottom: 5%;
}

.historyCard{
    height:100%;
    padding-top: 2%;
    padding-left: 5%;
    border-radius: 10px;
    padding-right: 5%;
}


.tableWrapper{
    min-height: 700px;
     height: 1px; /*dont know why is works but if u remove it breaks */
}

