html,
body {
  height: 100%;
  overflow-x: hidden;
  background-color: #E8E8E8;
}

.mainView {
    background-color: white;
    border-radius: 10px;
    padding: 2%;
}


.btn-outline-warning{
    border-color: #F29526;
    color: #F29526;
}

.btn-outline-warning:hover{
    background-color: #F29526;
    color:white;
}